* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: white;
    height: 10px;
}

html {
    scroll-behavior: smooth;
    scroll-padding: var(--scroll-padding, 5rem);
}

header {
    background-color: #000;
    text-align: center;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 999;
}

header p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: .8rem;
    letter-spacing: .02rem;
    padding: .55%;
    margin: 0;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons ul {
    display: flex;
    text-decoration: none;
    flex-direction: row;
}

.icons li {
    list-style: none;
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: center;
}

.icons a {
    color: black;
    letter-spacing: 1rem;
    font-size: 1.2rem;
}

.infos0 {
    background-color: #000;
    height: 7rem;
    padding: 2rem;
    padding-bottom: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.infos0 ul {
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    border-right: .0001rem solid hsl(0, 0%, 100%, .2);
}

.infos ul:last-child  {
    border: none;
}

.infos ul i {
    font-size: 3rem;
    display: flex;
    align-items: center;
}

.infos li {
    margin-top: 1rem;
    list-style: none;
    align-items: center;
    padding-right: 1rem;
}

.infos1 {
    display: none;
}

.promo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-top: 2rem;
    max-width: 70.5%;
    margin-inline: auto;
}

.promo-ctg {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

.promo li {
    list-style: none;
    color: white;
}

.promo ul {
    display: flex;
    align-items: end;
    width: 418px;
    height: 300px;
    background-size: auto;
}

.promo p {
    font-size: 2.3rem;
    display: flex;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 1;
    padding-bottom: 1rem;
}

.promo .titulo {
    font-size: 1.5rem;
    font-family: monospace;
    padding-bottom: 0;
}

.promo button {
    padding: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: none;
    margin-bottom: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: .05rem;
}

.promo button:hover {
    padding-left: 1.5rem;
    /* padding-right: 1.2rem; */
    transition: .1s ease-in-out;
}

.frase1 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 1rem; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* @media (max-width: 1365px) {
    
    .promo ul {
        transition: 1s ease-in-out ;
        width: 350px;
    }

}

@media (max-width: 1056px) {
    
    .promo ul {
        transition: 1s ease-in-out ;
        width: 250px;
    }

} */

@media (max-width: 720px) {

    .infos0 {
        display: none;
    }

    .infos1 {
        background-color: #000;
        height: 6rem;
        padding: 2rem;
        padding-bottom: 1.3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
    }

    .infos1 ul {
        color: #fff;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        border-right: .0001rem solid hsl(0, 0%, 100%, .2);
        max-width: 100%;
        margin-inline: auto;
    }

    /* .promo {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    .promo-ctg {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .promo-ctg ul {
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding-right: 3.2rem;
    } */

    .frase1 {
        font-size: .9rem;
        text-align: center;
    }
}

/* PROMOÇÕES */

.promocoes1 {
    display: block;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    overflow-x: hidden;
    margin-inline: auto;
    max-width: 71%;
    gap: 1rem;
    padding-left: 1.5rem;
}

.mais-pedidos {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-right: 2.5rem;
    /* padding-bottom: 1rem;
    padding-top: 1rem; */
}

.mais-pedidos p {
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.4rem;
}

.arrow i {
    color: black;
}

.cards1 {
    display: flex;
    padding: 0;
    /* border: 1px solid hsl(0, 0%, 0%, .1); */
    min-height: 400px;
}

.cards1 ul {
    
}

.cards1 a {
    text-decoration: none;
    color: black;
}

.cards2 a {
    text-decoration: none;
    color: black;
}

.promocoes1 ul {
    padding-top: 1rem;
    gap: 1.5rem;
    border: 1px solid hsl(0, 0%, 0%, .1);
    max-width: 260px;
}

.promocoes1 ul img {
    /* width: 50%; */
    padding-left: .5rem;
    padding-top: .5rem;
    height: 400px;
    /* margin: 0; */
}

.promocoes1 li {
    list-style: none;
    margin-bottom: 0;
}

.cards1 ul {
}

.promocoes1 .titulo-produto {
    padding-left: .5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-size: 1.2rem;
    padding-top: .5rem;
}

.promocoes1 .pagamento-produto {
    text-transform: uppercase;
}

.precos {
    display: flex;
    align-items: end;
    margin: 0;
    padding-left: .5rem;
    gap: .5rem;
}

.promocoes1 .preco-produto-credito {
    font-size: .9rem;
    text-decoration: line-through;
    opacity: .6;
}

.promocoes1 .preco-produto-pix {
    font-size: 1.7rem;
    color: red;
    margin-bottom: .7rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.promocoes1 .preco-pix {
    color: red;
    font-size: .9rem;
}

.promocoes1 .pagamento-produto {
    font-size: .9rem;
    padding-left: .5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.promocoes1 i {
    background-color: hsl(0, 0%, 100%);
    padding: .8rem;
    margin-right: .2rem;
    font-size: 1.2rem;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.promocoes1 i:hover {
    color: red;
    cursor: pointer;
    transition: .2s ease-in;
}

.heart {
    text-align: end;
}

.foto-like {
    max-width: 300px;
    object-fit: contain;
    height: 300px;
}

/* CATEGORIAS */

.categorias {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 4rem;
    /* max-width: 100%; */
    margin-inline: auto;
    max-width: 71.5%;
}

.categorias li {
    list-style: none;
    color: white;
}

.categorias ul {
    display: flex;
    align-items: end;
    width: 455px;
    height: 300px;
    background-size: auto;
}

.categorias p {
    font-size: 2.3rem;
    display: flex;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 1;
    padding-bottom: 1rem;
}

.categorias .titulo {
    font-size: 2.2rem;
    font-family: monospace;
    padding-bottom: .6rem;
}

.categorias button {
    padding: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: none;
    margin-bottom: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: .05rem;
}

.categorias button:hover {
    padding-left: 1.5rem;
    /* padding-right: 1.2rem; */
    transition: .1s ease-in-out;
}

.categorias1 {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
}

.titulo-categoria {
    padding-left: .5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* font-size: .8rem; */
    padding-top: .5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: baseline;
}

.slick-active ul {
    margin-inline: auto;
    padding: 1rem;
    width: 100%;
    background-size: cover;
}

.slick-slider ul {
    padding: .5rem;
    margin: 0;
    width: 100%;
}

/* AVALIAÇÃO */

.avaliacao {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 2rem;
    /* max-width: 71.5%; */
    /* margin-inline: auto; */
    padding-bottom: 2rem;
}

.avaliacao-grid {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.avaliacao-grid ul {
    border: .5px solid hsl(0, 0%, 0%, .1);
    margin: 0;
    padding: 1rem;
    width: 330px;
    height: 250px;
}

.avaliacao-grid li {
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.avaliacao-grid .nome {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: .01rem;
}

.avaliacao-grid i {
    padding-top: .3rem;
    font-size: .8rem;
    color: rgb(252, 191, 39);
    letter-spacing: 1px;
}

.avaliacao-grid .avali-cliente {
    padding-top: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.avaliacao-grid .star-avaliacao {
    display: flex;
    align-items: baseline;
    justify-content: baseline;
    flex-direction: row;
    margin: 0;
    padding: 0;
    border: none;
}

.avaliacao-grid .like-avali{
    margin-top: 6rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkolivegreen;
}

.like-avali i {
    color: darkolivegreen;
}

.avaliacao h2 {
    padding-left: .5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
    padding-top: .5rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: baseline;
    /* width: 72%; */
    /* margin-inline: auto; */
}

@media (max-width: 720px) {

    .titulo-categoria {
        /* width: 100%; */
        margin: 0;
        padding: 0;
        margin-inline: none;
        justify-content: center;
    }

    .avaliacao h2 {
        width: 100%;
        font-size: 1.2rem;
        /* padding-left: 1.5rem; */
        justify-content: center;
        text-align: center;
    }

    .categorias ul {
        width: 400px;
    }

    .promo ul {
        display: flex;
        align-items: end;
        width: 400px;
        height: 300px;
        background-size: auto;
    }

    .promocoes1 {
        width: 100%;
        padding: 0;
    }

    .mais-pedidos {
        padding: 0;
    }
}

.top {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: none;
    color: white;
    background-color: black;
    padding: 5px;
    font-size: .8rem;
    text-decoration: none;
}

/* FOOTER */

footer {
    background-color: white;
    padding: 50px 0;
    /* border-bottom: 1px solid gray; */
    padding-bottom: 1rem;
}

.container-footer {
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
    padding-bottom: 2rem;
}

.row-footer {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: black;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-align: start;
    text-transform: uppercase;
}

.footer-col h4:not(:last-child) {
    margin-left: 30px;
}
.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    margin: 10px 0;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: black;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer-col ul li a:hover {
    padding-left: 10px;
}

.footer-col .medias-socias{
    margin-top: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.footer-col .medias-socias a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: black;
    border: 1px solid black;
    transition: all 0.5s ease;
}

.footer-col .medias-socias a i {
    font-size: 20px;
}

.footer-col .medias-socias a:hover {
    background-color: #000;
    color: white;
}

.footer-col .form-sub input {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid white;
    color: white;
    background-color: black;
}

.footer-col .form-sub input::placeholder {
    color: white;
}

.footer-col .form-sub button {
    width: 100%;
    margin-top: 10px;
    padding: 10px; 
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 3px;
    font-weight: bold;
    background-color: black;        
}

.desenvolvedor {
    border-top: .9px solid hsl(0, 0%, 0%, .1);
    padding-top: 2rem;
    font-size: .85rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo-desen {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
}

.logo-desen img {
    width: 80px;
    
}

/* Responsivo */
@media (max-width: 800px) {

    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }

    .desenvolvedor {
        font-size: .7rem;
        padding: .5rem;
        text-align: center;
    }
}
@media (max-width:600px) {

    .footer-col{
        width: 100%;
    }
}

/* .busca {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: end;
    border-top: 1px solid gray;
    max-width: 67%;
    margin-inline: auto;
    padding-bottom: 0;
    margin-bottom: 0;
} */

.busca p {
    color: white;
}

#busca {
    padding: 1rem;
    position: relative;
    max-width: 300px;
    /* margin: 10px auto; */
  }
  
  #campoBusca {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .resultados {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    display: none;
    z-index: 1000;
  }
  
  .resultados div {
    padding: 8px;
    cursor: pointer;
  }
  
  .resultados div:hover {
    background-color: #f0f0f0;
  }
  

  .offcanvas {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
  }

  .offcanvas.show {
    visibility: visible;
    opacity: 1;
  }

  .frase-busca {
    display: flex;
    align-items: baseline;
    max-width: 68%;
    margin-inline: auto;
    justify-content: space-between;
    padding: 0;
  }

  .frase1 {
    margin-left: 25%;
  }


  @media (max-width: 800px) {
    .frase-busca {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 100%;
        /* margin-inline: auto; */
        padding: 0;
        flex-direction: column;
      }     

      .busca {
        display: flex;
      }
      
      .frase1 {
        margin-left: 0%;
      }
  }

#icone-carrinho {
    display: inline-block; /* Exibido por padrão */
    position: relative;
    cursor: pointer;
}

.badge {
    display: flex; /* Usa flexbox para centralizar */
    justify-content: left; 
    align-items: center; /* Centraliza verticalmente */
    background-color: red; /* Cor de fundo */
    color: white; /* Cor do texto */
    border-radius: 50%; /* Mantém a badge circular */
    max-width: 25px; /* Permite largura dinâmica */
    height: 24px; /* Altura fixa */
    padding: 8px; /* Adiciona espaçamento horizontal */
    font-size: 12px; /* Ajusta o tamanho do texto */
    font-weight: bold; /* Deixa o texto mais visível */
    position: absolute; /* Para posicionar no ícone */
    top: -5px; /* Ajusta posição vertical */
    right: -5px; /* Ajusta posição horizontal */
    box-sizing: border-box; /* Garante que padding não afete o tamanho */
    min-width: 10px; /* Define largura mínima para manter a forma circular */
}

.heart i {
    font-size: 24px;
    cursor: pointer;
    color: gray; /* Cor inicial */
    transition: color 0.3s ease;
}

/* Quando o produto é favoritado */
.heart i.favorito {
    color: red;
}

/* Ajuste do layout do produto (caso precise) */
.foto-like {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
    position: relative;
}