* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: white;
    height: 10px;
}

html {
    scroll-behavior: smooth;
    scroll-padding: var(--scroll-padding, 5rem);
}

header {
    background-color: #000;
    text-align: center;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 999;
}

header p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: .8rem;
    letter-spacing: .02rem;
    padding: .55%;
    margin: 0;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons ul {
    display: flex;
    text-decoration: none;
    flex-direction: row;
}

.icons li {
    list-style: none;
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: center;
}

.icons a {
    color: black;
    letter-spacing: 1rem;
    font-size: 1.2rem;
}

/* CONTENT */

.infos1 {
    width: 65.5%;
    margin-inline: auto;
    display: flex;
    align-items: center;
}


.dados-user {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.dados-user a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    background-color: black;
    padding: .5rem;
    border-radius: 15%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* FOOTER */

.top {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: none;
    color: white;
    background-color: black;
    padding: 5px;
    font-size: .8rem;
    text-decoration: none;
}

footer {
    background-color: white;
    padding: 50px 0;
    /* border-bottom: 1px solid gray; */
    padding-bottom: 1rem;
}

.container-footer {
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
    padding-bottom: 2rem;
}

.row-footer {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: black;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-align: start;
    text-transform: uppercase;
}

.footer-col h4:not(:last-child) {
    margin-left: 30px;
}
.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    margin: 10px 0;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: black;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer-col ul li a:hover {
    padding-left: 10px;
}

.footer-col .medias-socias{
    margin-top: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.footer-col .medias-socias a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: black;
    border: 1px solid black;
    transition: all 0.5s ease;
}

.footer-col .medias-socias a i {
    font-size: 20px;
}

.footer-col .medias-socias a:hover {
    background-color: #000;
    color: white;
}

.footer-col .form-sub input {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid white;
    color: white;
    background-color: black;
}

.footer-col .form-sub input::placeholder {
    color: white;
}

.footer-col .form-sub button {
    width: 100%;
    margin-top: 10px;
    padding: 10px; 
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 3px;
    font-weight: bold;
    background-color: black;        
}

.desenvolvedor {
    border-top: .9px solid hsl(0, 0%, 0%, .1);
    padding-top: 2rem;
    font-size: .85rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo-desen {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
}

.logo-desen img {
    width: 80px;
    
}

/* Responsivo */
@media (max-width: 1200px) {
    
    .conteudo1 {
        flex-direction: column;
        padding-bottom: 1rem;
    }

}


@media (max-width: 800px) {

    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }

    .desenvolvedor {
        font-size: .7rem;
        padding: .5rem;
        text-align: center;
    }

    .content {
        flex-direction: column;
    }

    .conteudo-quemsomos {
        min-width: 100%;
    }

    .content {
        max-width: 100%;
        padding: 1.5rem;
    }
    
}
@media (max-width:600px) {

    .footer-col{
        width: 100%;
    }
}

.conteudo-quemsomos .accordion-header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.conteudo-quemsomos .accordion-body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: .8rem;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

section .dados-user {
    padding-top: 2rem;
}

/* Estilo da área de boas-vindas */
.infos1 {
    background-color: gray;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px;
}

.infos1 .dados-user p {
    font-size: 18px;
}

.infos1 .dados-user strong {
    color: #ffd700;
    font-weight: bold;
}

.logout a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid red;
}

.logout a:hover {
    background-color: #fff;
    color: red;
    transition: .2s all ease-in-out;
    border: none;
}

/* Seção de Títulos */
.title-edit {
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    
}

.title-edit h2 {
    display: flex;
    font-size: 24px;
    margin-bottom: 15px;
    color: black;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    margin-top: 30px;
    /* max-width: 65%;
    margin-inline: auto; */
}

section h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: black;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    margin-top: 30px;
    max-width: 65%;
    margin-inline: auto;
}

/* Estilo das tabelas */
table {
    /* max-width: 70%; */
    border-collapse: collapse;
    margin-bottom: 20px;
    /* margin-inline: auto; */
    align-items: baseline;
    justify-content: baseline;
    margin-left: 17.5%;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f8f9fa;
    font-weight: bold;
    color: black;
}

table td {
    background-color: #fff;
    color: #555;
}

/* Estilo dos links */
a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    
}

a:hover {
    text-decoration: underline;
}

.edit {
    max-width: 65%;
    margin-inline: auto;
    padding: .5rem 0 ;
    display: flex;
    justify-content: end;
}

.edit button {
    background-color: #000;
    border: none;
    border-radius: 5%;
    padding: .5rem;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    /* Ajuste do layout das tabelas */
    table th, table td {
        padding: 10px;
        font-size: 14px;
    }

    section h2 {
        font-size: 20px;
    }

    .infos1 .dados-user p {
        font-size: 16px;
    }

    .infos1 .dados-user strong {
        font-size: 18px;
    }

    .infos1  {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

#icone-carrinho {
    display: inline-block; /* Exibido por padrão */
    position: relative;
    cursor: pointer;
}

.badge {
    display: flex; /* Usa flexbox para centralizar */
    justify-content: left; 
    align-items: center; /* Centraliza verticalmente */
    background-color: red; /* Cor de fundo */
    color: white; /* Cor do texto */
    border-radius: 50%; /* Mantém a badge circular */
    max-width: 25px; /* Permite largura dinâmica */
    height: 24px; /* Altura fixa */
    padding: 8px; /* Adiciona espaçamento horizontal */
    font-size: 12px; /* Ajusta o tamanho do texto */
    font-weight: bold; /* Deixa o texto mais visível */
    position: absolute; /* Para posicionar no ícone */
    top: -5px; /* Ajusta posição vertical */
    right: -5px; /* Ajusta posição horizontal */
    box-sizing: border-box; /* Garante que padding não afete o tamanho */
    min-width: 10px; /* Define largura mínima para manter a forma circular */
}