* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: white;
    height: 10px;
}

/* html {
    scroll-behavior: smooth;
    scroll-padding: var(--scroll-padding, 5rem);
} */

header {
    background-color: #000;
    text-align: center;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 999;
}

header p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: .8rem;
    letter-spacing: .02rem;
    padding: .55%;
    margin: 0;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons ul {
    text-decoration: none;
}

.icons li {
    list-style: none;
}

.icons a {
    color: black;
    letter-spacing: 1rem;
    font-size: 1.2rem;
}

.infos0 {
    background-color: #000;
    height: 7rem;
    padding: 2rem;
    padding-bottom: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.infos0 ul {
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    border-right: .0001rem solid hsl(0, 0%, 100%, .2);
}

.infos ul:last-child  {
    border: none;
}

.infos ul i {
    font-size: 3rem;
    display: flex;
    align-items: center;
}

.infos li {
    margin-top: 1rem;
    list-style: none;
    align-items: center;
    padding-right: 1rem;
}

.infos1 {
    display: none;
}

@media (max-width: 720px) {

    .infos0 {
        display: none;
    }

    .infos1 {
        background-color: #000;
        height: 6rem;
        padding: 2rem;
        padding-bottom: 1.3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .infos1 ul {
        color: #fff;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        border-right: .0001rem solid hsl(0, 0%, 100%, .2);
    }

    .promo {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 2rem;
        flex-direction: column;
    }

    .frase1 {
        font-size: .9rem;
        text-align: center;
    }
}

.promo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

.promo li {
    list-style: none;
    color: white;
}

.promo ul {
    display: flex;
    align-items: end;
    width: 450px;
    height: 300px;
    background-size: auto;
}

/* .promo ul:hover {
    background-size: cover;
    transition-duration: 2s;
} */

.promo p {
    font-size: 2.3rem;
    display: flex;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 1;
    padding-bottom: 1rem;
}

.promo .titulo {
    font-size: 1.5rem;
    font-family: monospace;
    padding-bottom: 0;
}

.promo button {
    padding: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: none;
    margin-bottom: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: .05rem;
}

.promo button:hover {
    padding-left: 1.5rem;
    /* padding-right: 1.2rem; */
    transition: .1s ease-in-out;
}

.frase1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* PROMOÇÕES */

.promocoes1 {
    /* display: block; */
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    /* overflow-x: hidden; */
    margin-inline: auto;
    max-width: 71%;
}

.mais-pedidos {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    /* padding-bottom: 1rem;
    padding-top: 1rem; */
}

.mais-pedidos p {
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.4rem;
}

.arrow i {
    color: black;
}

.cards1, .cards2 {
    display: flex;
    padding: 0;
    border: 1px solid hsl(0, 0%, 0%, .1);
    
}


.promocoes1 ul {
    padding-top: 1rem;
    gap: 1.5rem;
    border: 1px solid hsl(0, 0%, 0%, .1);
    /* min-width: 410px; */
}

.promocoes1 ul img {
    /* width: 50%; */
    padding-left: .5rem;
    padding-top: .5rem;
    /* margin: 0; */
    min-width: 400px;
}

.promocoes1 li {
    list-style: none;
    margin-bottom: 0;
}

.promocoes1 .titulo-produto {
    padding-left: .5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-size: 1.2rem;
    padding-top: .5rem;
}

.promocoes1 .pagamento-produto {
    text-transform: uppercase;
}

.precos {
    display: flex;
    align-items: end;
    margin: 0;
    padding-left: .5rem;
    gap: .5rem;
}

.promocoes1 .preco-produto-credito {
    font-size: .9rem;
    text-decoration: line-through;
    opacity: .6;
}

.promocoes1 .preco-produto-pix {
    font-size: 1.7rem;
    color: red;
    margin-bottom: .7rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.promocoes1 .preco-pix {
    color: red;
    font-size: .9rem;
}

.promocoes1 .pagamento-produto {
    font-size: .9rem;
    padding-left: .5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.promocoes1 i {
    background-color: hsl(0, 0%, 100%, .8);
    padding: .8rem;
    margin-right: .2rem;
    font-size: 1.2rem;
    border-radius: 50%;
}

.promocoes1 i:hover {
    color: red;
    cursor: pointer;
}

.heart {
    padding-top: .5rem;
    text-align: end;
}

.foto-like {
    width: 300px;
    background-size: cover;
    height: 300px;
}

/* CATEGORIAS */

.categorias {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 4rem;
}

.categorias li {
    list-style: none;
    color: white;
}

.categorias ul {
    display: flex;
    align-items: end;
    width: 445px;
    height: 300px;
    background-size: auto;
    margin-inline: auto;
    max-width: 71.5%;
}

.categorias p {
    font-size: 2.3rem;
    display: flex;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 1;
    padding-bottom: 1rem;
}

.categorias .titulo {
    font-size: 1.5rem;
    font-family: monospace;
    padding-bottom: 0;
}

.categorias button {
    padding: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: none;
    margin-bottom: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: .05rem;
}

.categorias button:hover {
    padding-left: 1.5rem;
    /* padding-right: 1.2rem; */
    transition: .1s ease-in-out;
}

.categorias1, .categorias2 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

@media (max-width: 1280px) {

    .categorias1, .categorias2 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: .5rem;
        width: 100%;
    }

    .titulo-categoria {
        min-width: 100%;
    }

    .categorias .titulo-categoria{
        padding-left: 1.6rem;
    }
    
    .categorias ul {
        max-width: 100%;
        padding: 1rem;
    }

}

.titulo-categoria {
    padding-left: .5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* font-size: .8rem; */
    padding-top: .5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: baseline;
    margin-inline: auto;
    max-width: 71.5%;
}

.slick-active ul {
    margin-inline: auto;
    padding: 1rem;
    width: 100%;
    background-size: cover;
}

.slick-slider ul {
    padding: .5rem;
    margin: 0;
    width: 100%;
}

